# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("../WeatherPy/output_data/city_data_clean.csv")
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.12,-134.97,73.33,82,100,11.30,PF,07/17/20
1,Barrow,71.29,-156.79,33.80,86,90,14.99,US,07/17/20
2,Chapais,49.78,-74.85,75.20,69,20,9.17,CA,07/17/20
3,Castro,-24.79,-50.01,71.28,58,62,5.12,BR,07/17/20
4,Pevek,69.70,170.31,41.29,93,80,2.04,RU,07/17/20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

locations = cities_df[["Lat", "Lng"]].astype(float)
#cities_df = cities_df.dropna()
humidity = cities_df['Humidity'].astype(float)

In [50]:
#Create a humidity heatmap layer
fig = gmaps.figure(center=(0,0), zoom_level=2)

humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                     max_intensity=100, point_radius=3)

fig.add_layer(humidity_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
index = cities_df.loc[(cities_df['Max Temp'] < 75) |
                      (cities_df['Max Temp'] > 85) |
                      (cities_df['Wind Speed'] > 10) |
                      (cities_df['Cloudiness'] > 0)].index
select_cities_df = cities_df.drop(index, inplace=False)
select_cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
22,Ahar,38.48,47.07,75.65,37,0,5.73,IR,07/17/20
143,Lüderitz,-26.65,15.16,78.80,16,0,5.82,NaN,07/17/20
153,Korla,41.76,86.15,82.99,61,0,3.00,CN,07/17/20
162,Ürümqi,43.80,87.60,84.20,30,0,4.47,CN,07/17/20
186,Kumul,42.80,93.45,81.99,18,0,5.73,CN,07/17/20

In [27]:
select_cities_df = select_cities_df.dropna(inplace=False)
select_cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
22,Ahar,38.48,47.07,75.65,37,0,5.73,IR,07/17/20
153,Korla,41.76,86.15,82.99,61,0,3.00,CN,07/17/20
162,Ürümqi,43.80,87.60,84.20,30,0,4.47,CN,07/17/20
186,Kumul,42.80,93.45,81.99,18,0,5.73,CN,07/17/20
384,Marquette,46.53,-87.63,77.00,67,0,1.99,US,07/17/20

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [44]:
hotel_df = pd.DataFrame()
hotel_df["Hotel Name"] = []
hotel_df

Empty DataFrame
Columns: [Hotel Name]
Index: []

In [46]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels = []
cities = []
countries = []

for index, row in select_cities_df.iterrows():
    location = f"{row['Lat']},{row['Lng']}"
    radius = 5000
    search_type = "hotels"
    
    params = {
        "location" : location,
        "radius" : radius,
        "type" : search_type,
        "key" : g_key
    }
    
    try:
        print(f"Searching near {row['City']}, {row['Country']}...")
        response = requests.get(base_url, params=params)
        places = response.json()

        name = places['results'][0]['name']
        
        hotels.append(name)
        cities.append(row["City"])
        countries.append(row["Country"])
                
    except KeyError:
        print(f"No hotels found within 5000m of {row['City']}, {row['Country']}!")
        
hotel_df["Hotel Name"] = hotels
hotel_df["City"] = cities
hotel_df["Country"] = countries

Searching near Ahar, IR...
Searching near Korla, CN...
Searching near Ürümqi, CN...
Searching near Kumul, CN...
Searching near Marquette, US...

In [47]:
hotel_df

                                Hotel Name       City Country
0                                     Ahar       Ahar      IR
1  Bayingolin Mongol Autonomous Prefecture      Korla      CN
2                                   Ürümqi     Ürümqi      CN
3                                     Hami      Kumul      CN
4                                Ishpeming  Marquette      US

In [51]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = select_cities_df[["Lat", "Lng"]]

In [52]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))